@media screen and (min-width:0px) and (max-width:350px) {
    .navbar {
        position: static;
    }

    .navbar .nav-links {
        display: none;
    }

    #logo {
        font-size: 15px;
    }

    .navbar .nav-links li {
        margin: 20px 0;
    }

    .hamburger {
        display: flex;
    }

    #dashboard-controller {
        display: none;
    }

    #dashboard-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    #datetime-container {
        width: 100%;
        height: auto;
    }

    #time-lbl {
        font-size: 23px;
    }

    #date-lbl {
        font-size: 12px;
        font-style: italic;
    }

    #welcome-admin {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 25px;
    }

    #chart-title {
        font-size: 20px;
    }

    .bar-chart {
        width: 100%;
        height: 500px;
        margin: auto;
        padding: 18px;
    }

    .bar {
        width: 10%;
    }

    .chart-titles {
        font-size: 2px;
    }

    #appointment-container {
        margin-top: 5%;
    }

    .top-lables {
        width: 49%;
        height: auto;
        font-size: 10px;
    }

    .lable-img {
        width: 25%;
    }

    #appointment-title {
        margin-top: -8%;
        font-size: 20px;
    }

    #appointment-data {
        width: 98%;
    }

    thead th {
        font-size: 12px;
        height: 25px;
    }

    th,
    td {
        height: 20px;
        font-size: 12px;
    }
}

@media screen and (min-width:351px) and (max-width:575px) {
    .navbar {
        position: static;
    }

    .navbar .nav-links {
        display: none;
    }

    #logo {
        font-size: 15px;
    }

    .navbar .nav-links li {
        margin: 20px 0;
    }

    .hamburger {
        display: flex;
        font-size: 10PX;
    }

    #dashboard-controller {
        display: none;
    }

    #dashboard-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    #datetime-container {
        width: 100%;
        height: auto;
    }

    #time-lbl {
        font-size: 30px;
    }

    #date-lbl {
        font-size: 15px;
        font-style: italic;
    }

    #welcome-admin {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 32px;
    }

    #chart-title {
        font-size: 25px;
    }

    .bar-chart {
        width: 100%;
        height: 500px;
        margin: auto;
        padding: 18px;
    }

    .bar {
        width: 10%;
    }

    .chart-titles {
        font-size: 2px;
    }

    #appointment-container {
        margin-top: 10%;
    }

    .top-lables {
        width: 49%;
        height: auto;
        font-size: 12px;
    }

    .lable-img {
        width: 25%;
    }

    #appointment-title {
        margin-top: -5%;
        font-size: 25px;
    }

    #appointment-data {
        width: 98%;
    }

    thead th {
        font-size: 14px;
        height: 30px;
    }

    th,
    td {
        height: 25px;
        font-size: 13px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .navbar {
        position: fixed;
    }

    .navbar .nav-links {
        display: none;
    }

    .navbar .nav-links li {
        margin: 20px 0;
    }

    .hamburger {
        display: flex;
    }

    #dashboard-controller {
        display: none;
    }

    #dashboard-container {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
    }

    #bar-chart-container {
        margin-top: 8%;
    }

    #datetime-container {
        width: 100%;
        height: auto;
    }

    #time-lbl {
        font-size: 30px;
    }

    #date-lbl {
        font-size: 15px;
        font-style: italic;
    }

    #welcome-admin {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 28px;
    }

    #chart-title {
        font-size: 20px;
    }

    .bar-chart {
        width: 100%;
        height: 500px;
        margin: auto;
        padding: 18px;
    }

    .bar {
        width: 10%;
    }

    .chart-titles {
        font-size: 3px;
    }

    #appointment-container {
        margin-top: 13.5%;
    }

    .top-lables {
        width: 49%;
        height: auto;
        font-size: 15px;
    }

    .lable-img {
        width: 25%;
    }

    #appointment-title {
        margin-top: -5%;
        font-size: 18px;
    }

    #appointment-data {
        width: 98%;
    }

    thead th {
        font-size: 16px;
        height: 55px;
    }

    th,
    td {
        height: 42.5px;
        font-size: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .navbar {
        position: fixed;
    }

    .navbar #logo {
        font-size: 20px;
    }

    #logo:hover {
        font-size: 22px;
    }

    .navbar .nav-links a {
        font-size: 16px;
    }

    .navbar .nav-links a:hover {
        font-size: 20px;
    }

    #dashboard-controller {
        display: none;
    }

    #dashboard-container {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
    }

    #bar-chart-container {
        margin-top: 1%;
    }

    #datetime-container {
        width: 100%;
        height: auto;
    }

    #time-lbl {
        font-size: 50px;
    }

    #date-lbl {
        font-size: 20px;
        font-style: italic;
    }

    #welcome-admin {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 35px;
    }

    .bar-chart {
        width: 100%;
        height: 500px;
        margin: auto;
        padding: 20px;
    }

    .bar {
        width: 10%;
    }

    .chart-titles {
        font-size: 8px;
    }

    #appointment-container {
        margin-top: 6%;
    }

    .top-lables {
        width: 49%;
        height: auto;
        font-size: 18px;
    }

    .lable-img {
        width: 25%;
    }

    #appointment-title {
        padding-top: 2%;
    }

    #appointment-data {
        width: 98%;
    }

    thead th {
        font-size: 18px;
        height: 55px;
    }

    th,
    td {
        height: 44.5px;
        font-size: 18px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .navbar {
        position: fixed;
    }

    #dashboard-controller {
        width: 30%;
        height: auto;
        gap: 15px;
    }

    #dashboard-controller img {
        padding-top: 25%;
        width: 100%;
        padding-left: 10%;
    }

    .icon-button {
        width: 200px;
        height: 45px;
        padding: 10px 10px;
        font-size: 18px;
    }

    .icon-button i {
        margin-right: 30%;
    }

    #dashboard-container {
        display: flex;
    }

    #bar-chart-container {
        margin-top: 1%;
    }

    #datetime-container {
        width: 100%;
        height: auto;
    }

    #time-lbl {
        font-size: 50px;
    }

    #date-lbl {
        font-size: 20px;
        font-style: italic;
    }

    #welcome-admin {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 35px;
    }

    .bar-chart {
        width: 100%;
        height: 500px;
        margin: auto;
        padding: 20px;
    }

    .bar {
        width: 10%;
    }

    .chart-titles {
        font-size: 8px;
    }

    #appointment-container {
        margin-top: 4.5%;
    }

    .top-lables {
        width: 49%;
        height: auto;
        font-size: 18px;
    }

    .lable-img {
        width: 25%;
    }

    #appointment-title {
        padding-top: 2%;
    }

    #appointment-data {
        width: 98%;
    }

    thead th {
        font-size: 18px;
        height: 55px;
    }

    th,
    td {
        height: 44.5px;
        font-size: 18px;
    }
}

@media screen and (min-width:1200px) {
    .navbar {
        position: fixed;
    }

    .navbar #logo {
        font-size: 24px;
    }

    #logo:hover {
        font-size: 25px;
    }

    .navbar .nav-links a {
        font-size: 18px;
    }

    .navbar .nav-links a:hover {
        font-size: 22px;
    }

    #dashboard-controller {
        width: 30%;
        height: auto;
        gap: 1.5%;
    }

    #dashboard-controller img {
        padding-top: 20%;
        width: 90%;
        padding-left: 20%;
    }

    .icon-button {
        width: 240px;
        height: 50px;
        padding: 10px 10px;
        font-size: 20px;
    }

    .icon-button i {
        margin-right: 30%;
    }

    #dashboard-container {
        display: flex;
    }

    #datetime-container {
        width: 100%;
        height: auto;
    }

    #time-lbl {
        font-size: 60px;
    }

    #date-lbl {
        font-size: 30px;
        font-style: italic;
    }

    #welcome-admin {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 45px;
    }

    .bar-chart {
        width: auto;
        height: 445px;
        margin: auto;
        padding: 20px;
    }

    .bar {
        width: 10%;
    }

    .chart-titles {
        font-size: 12px;
    }

    #appointment-container {
        margin-top: 4.5%;
    }

    .top-lables {
        width: 49%;
        font-size: 22px;
    }

    .lable-img {
        width: 25%;
    }

    #appointment-title {
        padding-top: 2%;
    }

    #appointment-data {
        width: 98%;
    }

    th,
    td {
        height: 40px;
    }
}